
body{
  background-color: rgb(72, 72, 72);
  color: white;
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}
.outer-section{
  display: flex;
  gap: 20px;
  
}

.just-there{
  width: 500px;
  

}

.profile-fixed{
  background-color: rgb(72, 72, 72);
  color: white;
  width: 500px;
 
  bottom: 20px;
  top: 20px;
  left: 20px;
   position: fixed;
  
}


.profile{
  
  display: grid;
  grid-template-rows: max-content;
  border: solid;
  border-radius: 20px;
  border-color: rgb(72, 72, 72);
  box-shadow: inset 10px 10px 100px rgba(0, 0, 0, 0.5);
  transition: 1s;
   
}



/* profile photo*/

.avatar{
  width: 100px;
  margin-left: 150px;
  margin-top: 40px;
  margin-bottom: 0px;
  border: solid;
  padding: 50px;
  border-radius: 16px;
  border-color: rgb(72, 72, 72);
  box-shadow: inset 10px 10px 100px rgba(0, 0, 0, 0.5);
}


/*Name*/

.name{
  font-size: 25px;
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
  margin-left: 155px;
  
  display: inline-block;
  
}

/*role*/

.role-button{
  
  font-size: 20px ;
  margin-left: 170px;
  padding: 10px;
  width: 150px;
  margin-bottom: 30px;
  background-color: rgb(72, 72, 72);
  border-radius: 10px;
  color: white;
  border: none;
  box-shadow: inset 10px 10px 30px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

/*contact */
.gmail-div,
.phone-div,
.dob-div,
.location-div{
  
  display: flex;
  flex-direction: row;
  gap: 60px;
  align-items: center;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 10px;
  box-shadow: inset 10px 10px 35px rgba(0, 0, 0, 0.5);
}
.gmail-logo{
  width: 40px;
  border-radius: 10px;
  display: inline-block;
  margin-left: 20px;
  
}

.gmail{
  display: inline-block;
  font-size: 18px;

  
}

/*icons*/

.icon-div{
  display: flex;
  display: inline-block;
 justify-items: center;
 
  

}

.insta,.git,.linkedin {
  display: inline-block;
   margin-right: 8px;
}
.insta{
  margin-left: 140px;
  margin-top: 60px;

}

.insta-image{
  width: 20px;
}

/*/////////////////CONTENT/////////////////*/


.content{
 
  right: 0;
  margin-left: 100px;
  background-color: rgb(72, 72, 72);
  flex : 1;
  /*margin-left: 520px;*/
  /*height: 1000px;*/
  flex-direction: row;
  display: grid;
  grid-template-rows: max-content; 
}

.about-me-box, .skills-box, .education-box{
  display: inline-block;
  padding: 20px;
  margin: 20px;
  border: solid;
  border: none;
  border-radius: 30px;
  border-width: 0.1px;
  transition:  0.5s ;
 box-shadow: inset 5px 5px 100px rgba(0, 0, 0, 0.5);

 width: 500px;

  
}

.about-me-box:hover, 
.skills-box:hover, 
.education-box:hover{

  padding: 35px;
}

.about-me{
  margin-top: -1px;
}

.about-me, 
.skills,.education{
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  
}

.about-me-content,
.skills-content,.education-content{
  font-size: 18px;
  width: 300px;
  
}

.skills-box{
  
  padding: 20px;
  
}

.skills{
  margin-top: 0px;
}

.education{
  margin-top: 0px;
}

/*///SKILLS PROGRESS BAR////////////*/

.progress-bar{
  width: 150%;
  background-color: white;
  height: 20px;
  border-radius: 20px;


}

.progress{
  height: 20px;
  border-radius: 20px;
  background-color: rgb(74, 227, 74);

}

.progress.html{
  width: 90%;
}

.progress.css{
  width: 40%;
}

.progress.javascript{
  width: 30%;
}


