

.outer-section{
  display: flex;
  gap: 20px;
  
}

.just-there{
  width: 500px;
  

}

.profile-fixed{
  background-color: lightblue;
  width: 500px;
  position: fixed;
  bottom: 20px;
  top: 20px;
  left: 20px;
  border: solid;
  border-radius: 8px;
  
}


.profile{
  
  display: grid;
  grid-template-rows: max-content;
  
}

.content{
 
  right: 0;
  margin-left: 20px;
  background-color: lightpink;
  flex : 1;
  /*margin-left: 520px;*/
  height: 1000px;
  flex-direction: row;
  display: grid;
  grid-template-rows: max-content;
}

.about-me-box, .skills-box{
  display: inline-block;
  padding: 20px;
  margin: 20px;
  border: solid;
  border-radius: 30px;
  border-width: 0.1px;
  transition:  0.5s ;
 box-shadow: inset 5px 5px 20px rgba(0, 0, 0, 0.5);
 width: 400px;
  
}

.about-me-box:hover, .skills-box:hover{
  padding: 50px;
}

.about-me{
  margin-top: -1px;
}

.about-me, 
.skills{
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  
}

.about-me-content,
.skills-content{
  font-size: 18px;
  width: 300px;
  
}

.skills-box{
  height: 100px;
  padding: 20px;

}

.skills{
  margin-top: 0px;
}

/* profile photo*/

.avatar{
  width: 100px;
  margin-left: 150px;
  margin-top: 40px;
  margin-bottom: 40px;
   border: solid;
   padding: 50px;
  
}


/*Name*/

.name{
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 155px;
  
  display: inline-block;
  
}

/*role*/

.role-button{
  
  font-size: 20px ;
  margin-left: 170px;
  padding: 10px;
  width: 150px;
}