
body {
  font-family: 'Roboto', sans-serif;
  background: repeating-linear-gradient(to bottom, #87ceeb, #1e90ff);
  color: #F0F0F0;
  margin: 0;
  padding: 20px;
  height: 250vh;
  
}





.profile-fixed{
  
  max-width: 500px;
  width: 100%;
  
   
  
}


.profile{
  
  display: grid;
  grid-template-rows: max-content;
  border: solid;
  border-radius: 20px;
  border-color: rgb(72, 72, 72);
  box-shadow: inset 10px 10px 100px rgba(0, 0, 0, 0.5);
  transition: 1s;
  border: solid;
  border-color: #ffa500;
  border-width: 5px;
  margin-top: 20px;
  align-items: center;
}



/* profile photo*/

.avatar{
  width: 100px;
  margin-left: 120px;
  margin-top: 40px;
  margin-bottom: 0px;
  border: none;
  padding: 50px;
  border-radius: 16px;
  border-color: rgb(72, 72, 72);
  box-shadow: inset 10px 10px 100px rgba(0, 0, 0, 0.5);

}


/*Name*/

.name{
  font-size: 30px;
  
  font-weight: 700;
  font-style: normal;
  margin-left: 100px;
  color: #ffa500;
  display: inline-block;
  
}

/*role*/

.role-button{
  
  font-size: 20px ;
  margin-left: 140px;
  padding: 10px;
  width: 150px;
  margin-bottom: 30px;
  background-color: rgb(72, 72, 72);
  border-radius: 10px;
  color: #ffa500;
  border: none;
  box-shadow: inset 10px 10px 30px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

/*contact */

.gmail-div,
.phone-div,
.dob-div,
.location-div{
  
  display: flex;
  flex-direction: row;
  gap: 60px;
  align-items: center;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 10px;
  box-shadow: inset 10px 10px 35px rgba(0, 0, 0, 0.5);
  width: 400px;
}
.gmail-logo{
  width: 40px;
  border-radius: 10px;
  display: inline-block;
  margin-left: 20px;
  
}

.gmail{
  display: inline-block;
  font-size: 18px;

  
}

/*icons*/

.icon-div{
  display: flex;
  display: inline-block;
 justify-items: center;
 margin-left: 130px;

 margin-top: 45px;
 margin-bottom: 20px;
  

}


/*/////////////////CONTENT/////////////////*/

.outer-section{
  display: flex;
  width: max-content;
  
  
}

.content{
 
  right: 0;
  margin-left: 100px;
  /*background-color: rgb(72, 72, 72);*/
  
  /*margin-left: 520px;*/
  /*height: 1000px;*/
  flex: 1;
  flex-direction: row;
  display: grid;
  grid-template-rows: max-content; 
  
}



.about-me-box, .skills-box, .education-box, .upcoming-goals-box{
  display: inline-block;
  padding: 20px;
  margin: 20px;
  

  border-radius: 30px;
  border-width: 5px;
  transition:  0.5s ;
 box-shadow: inset 5px 5px 100px rgba(0, 0, 0, 0.5);
  border: solid;
  border-color: #ffa500;
  
 width: 500px;

}

.upcoming-goals-box{
  margin-right: 100px;
  
}

.about-me-box:hover, 
.skills-box:hover, 
.education-box:hover{

  padding: 35px;
}

.about-me{
  margin-top: -1px;
}

.about-me, 
.skills,.education{
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  color: #ffa500;
  font-weight: 550;
}

.about-me-content,
.skills-content,.education-content{
  font-size: 18px;
  width: 300px;
  
}

.skills-box{
  
  padding: 20px;
  
}

.skills{
  margin-top: 0px;
}

.html-icon{
  width: 50px;
  height: 40px;
  display: inline-block;
}

.html2{
  display: flex;
  gap: 10px;
  margin-bottom: 3px;
  align-items: center;
}
.education{
  margin-top: 0px;
}

/*///SKILLS PROGRESS BAR////////////*/

.progress-bar{
  width: 150%;
  background-color: #d6d6d6;
  height: 20px;
  border-radius: 20px;


}

.progress{
  height: 20px;
  border-radius: 20px;
  background-color:#ffa500;

}

.progress.html{
  width: 60%;
}

.progress.css{
  width: 40%;
}

.progress.javascript{
  width: 30%;
}

.illustration-div{
  
  flex: 1;
}

.illustration{
  width: 80%;
  margin-top: 350px;
}

/*//////////Education timebar//////////////*/

 
.timeline{
  width: max-content;
  height: max-content;
  
  margin: 0;
  margin-top: 0px;
  border-left: 2px solid cyan;
  display: flex;
  flex-direction: row;
  gap: 10px;
  
}

.dot{
  background-color: cyan;
  width: 10px;
  height: 10px;
  border-radius: 5000px;
  margin-left: -6px;
}

.text{
  margin-top: -20px;
}

.education-box{
  display: flex;
  flex-direction: column;
  
}
/*///////////next page////////////////*/
.container2{
  height: 1000px;
  width: 100%;
  margin-top: 100px

}
.map{
  width: 100%;
  height: 500px;
  border-radius: 20px;
  margin-top: 100px;
  filter: invert(100%);

}



/*////////CONTACT-FORM//////////*/

.contact-form{
  
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: start;
  
}

.heading{
  font-size: 25px;
  margin-left: 15px;
  font-weight: 600;
  color: #e4bf48;
}

.name-flex{
  display: flex;
  gap: 0px;
  
}

.contact-flex{
  display: flex;
  gap: 0px;
  
}






.first-name,
.last-name,
.email-address,
.phone-number{
  padding: 15px;
  width: 250px;
  margin-left: 15px;
  border-radius: 8px;
  border: none;
  background-color: rgb(22, 21, 21);
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
  font-size: 19px;
  
}

.last-name,.phone-number{
  margin-left: 58px;
}
::placeholder {
  font-size: 17px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.message{

  padding: 15px;
  width: 100%;
  margin-left: 15px;
  border-radius: 8px;
  border: none;
  background-color: rgb(22, 21, 21);
  padding-top: 20px;
  padding-bottom: 200px;
  color: white;
  font-size: 19px;
  

}

.submit{
  margin-left: 15px;

  padding: 15px;
  font-size: 15px;
  padding-left: 25px;
  padding-right: 25px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 10px;
  border: none;
  transition: 0.5s;
  background-color: rgb(97, 12, 97);
  color: rgb(207, 199, 199);
}

.submit:hover{
  cursor: pointer;
  box-shadow: inset 10px 10px 100px rgba(0, 0, 0, 0.5);
}

